In [3]:
a = ()
if len(a)==0: print('l')
print(type(a))

l
<class 'tuple'>

In [8]:
n= 13
total = 0
for n in range(1,n+1,2):
 total +=n
print(total)

49

In [11]:
print(list(range(1,9,2)))

[1, 3, 5, 7]

In [19]:
if 3 in [1,3,4]:
    print(True)

True

In [17]:
for i in list(range(9)):
 print(i)

0
1
2
3
4
5
6
7
8

In [20]:
n =13
print(sum(i for i in range(1,n+1,2)))

49

In [22]:
b = [1,3,5,7,9]
print(sum(b))

25

In [23]:
a = (4,5,6)
print(a[0]+ a[1]+a[2])

15

In [27]:
a = ("1/2")
print(eval(a)>1)

False

In [31]:
a1 = ('9')
print(eval(a1)>1)

True

In [33]:
a2 =('3')
if int(a1)>1:
    print(True)

True

In [38]:
print('hell'+'lloo')

helllloo

In [42]:
print(eval("10*2"))

20

In [66]:
a2

AttributeError: 'set' object has no attribute 'count'

In [67]:
a3 = [1,3,5]
print(a3.index(1))

0

In [74]:
sizes = { "width": 2, "length": 5, "height": 1 }
val = list(sizes.values())
print(val[0]*val[1]*val[2])

10

In [116]:
var = "resu lt"
n = 0
while i in list(var):
 if var.isalpha() and n<len(var) and '' not in var:
  print(True)
  break
 else:
  print(False) 
  break

False

In [128]:
print(sorted('iceman')==sorted('cinema'))

True

In [126]:
a = 'cinema'
b = list(a)
b.sort()
print(b)
print(sorted(b))

['a', 'c', 'e', 'i', 'm', 'n']
['a', 'c', 'e', 'i', 'm', 'n']

In [153]:
while True:
 word1 = input('please enter a word').lower().strip()
 word2 = input('please enter a word').lower().strip()
 if not word1.isalpha() and word2.isalpha():
   print('Please do not use numeric number')
   continue
 if sorted(word1)==sorted(word2):
   print('They are anagram')
   break
   #print(sorted(word1)==sorted(word2))
 else:
   print('They are not anagram')    
   break

They are anagram

In [150]:
w = "2apple"
print(w.isalpha())

False