In [3]:
a = ()
if len(a)==0: print('l')
print(type(a))

l
<class 'tuple'>

In [8]:
n= 13
total = 0
for n in range(1,n+1,2):
 total +=n
print(total)

49

In [11]:
print(list(range(1,9,2)))

[1, 3, 5, 7]

In [19]:
if 3 in [1,3,4]:
    print(True)

True

In [17]:
for i in list(range(9)):
 print(i)

0
1
2
3
4
5
6
7
8

In [20]:
n =13
print(sum(i for i in range(1,n+1,2)))

49

In [22]:
b = [1,3,5,7,9]
print(sum(b))

25

In [23]:
a = (4,5,6)
print(a[0]+ a[1]+a[2])

15

In [27]:
a = ("1/2")
print(eval(a)>1)

False

In [31]:
a1 = ('9')
print(eval(a1)>1)

True

In [33]:
a2 =('3')
if int(a1)>1:
    print(True)

True

In [38]:
print('hell'+'lloo')

helllloo

In [42]:
print(eval("10*2"))

20

In [67]:
a3 = [1,3,5]
print(a3.index(1))

0

In [74]:
sizes = { "width": 2, "length": 5, "height": 1 }
val = list(sizes.values())
print(val[0]*val[1]*val[2])

10

In [116]:
var = "resu lt"
n = 0
while i in list(var):
 if var.isalpha() and n<len(var) and '' not in var:
  print(True)
  break
 else:
  print(False) 
  break

False

In [128]:
print(sorted('iceman')==sorted('cinema'))

True

In [126]:
a = 'cinema'
b = list(a)
b.sort()
print(b)
print(sorted(b))

['a', 'c', 'e', 'i', 'm', 'n']
['a', 'c', 'e', 'i', 'm', 'n']

In [153]:
while True:
 word1 = input('please enter a word').lower().strip()
 word2 = input('please enter a word').lower().strip()
 if not word1.isalpha() and word2.isalpha():
   print('Please do not use numeric number')
   continue
 if sorted(word1)==sorted(word2):
   print('They are anagram')
   break
   #print(sorted(word1)==sorted(word2))
 else:
   print('They are not anagram')    
   break

They are anagram

In [150]:
w = "2apple"
print(w.isalpha())

False

In [187]:
prime_num = [2]
for i,n in range(100):
    for  not i%n==0:
     print (i)  
if pH>7:
 print("alkaline")
elif pH<7:
 print("acidic")
else:
 print("neutral")

SyntaxError: invalid syntax (<ipython-input-187-3062791331c7>, line 3)

In [155]:
sq = (2,7)
print(list(range(2,7+1)))

[2, 3, 4, 5, 6, 7]

In [172]:
space = "My name"
print(' '.join(space))

M y   n a m e

In [167]:
nums = [1,2,3.4,5]
print(round(sum(nums)/len(nums),1))
print(round(23.333,2))

2.9
23.33

In [170]:
sentence = "i love you"
print(sentence.count(" ")+1)

3

In [177]:
wrd = '123'
n = 'a'.join(wrd)
print(n)

1a2a3

In [9]:
wrd1 = 'Join Us'
wrd2 = (wrd1.title()).swapcase()
print(wrd2)

jOIN uS

In [320]:
prime_num = []
for i in range(2, 100):
 for n in range(1,100):
  if i//n==i and i/n==1:
   prime_num.append(i)
   print(prime_num)

In [ ]:
while True:
   number = input('Please enter a number biger than one: ')
   if not number.isdigit():
     print('Please enter a digit number: ')
     continue 
   if int(number)>1:
     for i in range(2, int(number)):
      if int(number)%i == 0:
       print(number,'is not a prime number.')
       break
     else:
       print(number, 'is a prime number.')
       break

In [324]:
x,y,_,*t = [1,2,3,4,5,6]
print(x,y,t, sep=',')

1,2,[4, 5, 6]

In [327]:
lst=[2]
for j in range(3, 101):
    control=True
    for i in range(2, j):
        if j%i == 0:
            control=False
            break
    if control==True:
        lst.append(j)
print(lst)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [ ]:
a4 = [[1,2], [3,4]]
print(a4)

In [14]:
lst2 = ('aa','bb','ss','ww')
print(enumerate(lst2))
print(list(enumerate(lst2)))

<enumerate object at 0x106512750>
[(0, 'aa'), (1, 'bb'), (2, 'ss'), (3, 'ww')]

In [26]:
a = 'weeeeuruknfn'
print(a.startswith('ewd'))
print(a.endswith('n'))
print(a.count("w"))
print(a.isalpha())
print('123'.isalpha())

False
True
1
True
False

In [46]:
n = 12
fact = []
for i in range(1,n+1):
 if n%i==0:
   fact.append(i)
   print(fact)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 6]
[1, 2, 3, 4, 6, 12]

In [67]:
lst3 = [1,4,5,2,7,9,10,3,11,12]
print(sum(sorted(lst3)[5:10]))

49

In [74]:
num = 147899
print(list(str(num))[::-1])

['9', '9', '8', '7', '4', '1']

In [88]:
maj= ('2.3.45')
print(maj.split('.')[1])

3

In [91]:
num1 = '1,2,3,4,3,6,3,7'
print(num1.split('3'))

['1,2,', ',4,', ',6,', ',7']

In [103]:
lst6 = [1,3,4,5,6,7,8]
new_list =[]
for i in lst6:
 if i%2==0:
   new_list.append(i-1)  
 elif i%2!=0:
   new_list.append(i+1)
print(new_list)

[2, 4, 3, 6, 5, 8, 7]

In [108]:
lst6 = [1,3,4,5,6,7,8]
print(i-1 for i in lst6 if i%2==0)
print([i+1 if i%2 else i-1 for i in lst6])

<generator object <genexpr> at 0x104a3f9a8>
[2, 4, 3, 6, 5, 8, 7]

In [112]:
num = '231'
if num.endswith('1'):
 print('231-st')

231-st

In [123]:
txt = ('asdeoimf kij li')
vowels = ''.join(ch for ch in txt if ch in 'aeiouAEIOU')
others = ''.join(ch for ch in txt if ch not in 'aeiouAEIOU')
print(vowels + others)
print(vowels)
print(others)

aeoiiisdmf kj l
aeoiii
sdmf kj l

In [206]:
txt1 = "We are all done"
print(''.join(i for i in txt1 if i in "aeio"))
print(''.join(i for i in txt1 if i not in "aeio "))

eaeaoe
Wrlldn

In [132]:
txt2 = ("My name is Umm", 0)
print(txt2[::-1])
print(*txt2)
print(all(txt2))

(0, 'My name is Umm')
My name is Umm 0
False

In [134]:
lst7 = [23, 456, 56,6]
print(len(str(lst7[1])))

3

In [161]:
ss = ('aa',3)
print(list(ss1))
print(list("aa")*3)
print(['aa']*3)
print([ss])

['a', 'a', 'a', 'a', 'a', 'a']
['a', 'a', 'a', 'a', 'a', 'a']
['aa', 'aa', 'aa']
[('aa', 3)]

In [220]:
tx = ["eat", "tea", "tan", "ate", "nat", "bat"]
tx1=[]
tx2 = []
tx3 = []
tx = ["eat", "tea", "tan", "ate", "nat", "bat"]

print(tx1)
for ii in tx:
 if sorted("tan")==sorted(ii):
  tx2.append(ii)
print(tx2)
for iii in tx:
 if sorted("bat")==sorted(iii):
  tx3.append(iii)
print(tx3)

['eat', 'tea', 'ate']
['tan', 'nat']
['bat']

In [222]:
tx = ["eat", "tea", "tan", "ate", "nat", "bat"]
print([[i for i in tx if sorted("eat")==sorted(i)],[ii for ii in tx if sorted("tan")==sorted(ii)],[iii for iii in tx if sorted("bat")==sorted(iii)]])

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]

In [268]:
tx = ["eat", "tea", "tan", "ate", "nat", "bat"]
tx2 = [['eat'],['tan'],['bat']]
for i in tx:
 for ii in tx2:   
  if sorted(i)==sorted(ii):
   tx2[0].append(i)   
  elif sorted(i)!= sorted(ii):
    tx2[1].append(i) 
  elif sorted(i)!= sorted(ii):
    tx2[2].append(i)
  print(tx2)

[['eat'], ['tan', 'eat'], ['bat']]
[['eat'], ['tan', 'eat', 'eat'], ['bat']]
[['eat'], ['tan', 'eat', 'eat', 'eat'], ['bat']]
[['eat'], ['tan', 'eat', 'eat', 'eat', 'tea'], ['bat']]
[['eat'], ['tan', 'eat', 'eat', 'eat', 'tea', 'tea'], ['bat']]
[['eat'], ['tan', 'eat', 'eat', 'eat', 'tea', 'tea', 'tea'], ['bat']]
[['eat'], ['tan', 'eat', 'eat', 'eat', 'tea', 'tea', 'tea', 'tan'], ['bat']]
[['eat'], ['tan', 'eat', 'eat', 'eat', 'tea', 'tea', 'tea', 'tan', 'tan'], ['bat']]
[['eat'], ['tan', 'eat', 'eat', 'eat', 'tea', 'tea', 'tea', 'tan', 'tan', 'tan'], ['bat']]
[['eat'], ['tan', 'eat', 'eat', 'eat', 'tea', 'tea', 'tea', 'tan', 'tan', 'tan', 'ate'], ['bat']]
[['eat'], ['tan', 'eat', 'eat', 'eat', 'tea', 'tea', 'tea', 'tan', 'tan', 'tan', 'ate', 'ate'], ['bat']]
[['eat'], ['tan', 'eat', 'eat', 'eat', 'tea', 'tea', 'tea', 'tan', 'tan', 'tan', 'ate', 'ate', 'ate'], ['bat']]
[['eat'], ['tan', 'eat', 'eat', 'eat', 'tea', 'tea', 'tea', 'tan', 'tan', 'tan', 'ate', 'ate', 'ate', 'nat'], ['bat']]
[['eat'], ['tan', 'eat', 'eat', 'eat', 'tea', 'tea', 'tea', 'tan', 'tan', 'tan', 'ate', 'ate', 'ate', 'nat', 'nat'], ['bat']]
[['eat'], ['tan', 'eat', 'eat', 'eat', 'tea', 'tea', 'tea', 'tan', 'tan', 'tan', 'ate', 'ate', 'ate', 'nat', 'nat', 'nat'], ['bat']]
[['eat'], ['tan', 'eat', 'eat', 'eat', 'tea', 'tea', 'tea', 'tan', 'tan', 'tan', 'ate', 'ate', 'ate', 'nat', 'nat', 'nat', 'bat'], ['bat']]
[['eat'], ['tan', 'eat', 'eat', 'eat', 'tea', 'tea', 'tea', 'tan', 'tan', 'tan', 'ate', 'ate', 'ate', 'nat', 'nat', 'nat', 'bat', 'bat'], ['bat']]
[['eat'], ['tan', 'eat', 'eat', 'eat', 'tea', 'tea', 'tea', 'tan', 'tan', 'tan', 'ate', 'ate', 'ate', 'nat', 'nat', 'nat', 'bat', 'bat', 'bat'], ['bat']]

In [274]:
lst8 =[1,2,3,46]
f = ['aln', 'lan','nal']
print(all(sorted(i)==sorted("lan") for i in f))
print(all(i!=1 for i in lst8))

True
False

In [278]:
arr = [1,2,3,4]
print([i*len(arr) for i in arr])
print(i*len(arr) for i in arr)
print(next(arr))

[4, 8, 12, 16]
<generator object <genexpr> at 0x1071708b8>

TypeError: 'list' object is not an iterator